<h1>Informações da empresa</h1>

<h3>Dados Básicos</h3>
<ul>
  <li>Nome: <%= @basic_data["OfficialName"] %></li>
  <li><%= @basic_data["IsHeadquarter"] ? "Matriz" : "Filial" %></li>
  <li>Tipo de empresa: <%= @basic_data["LegalNature"]["Activity"] %></li>
  <li>Fundação: <%= @basic_data["FoundedDate"].to_date %></li>
  <li>Idade: <%= @basic_data["Age"] %> anos</li>
  <li>Atividades:
    <ul>
      <% @basic_data["Activities"].each do |activity| %>
      <li> <%= "Principal: " if activity["IsMain"] %> CNAE <%= activity["Code"] %> - <%= activity["Activity"] %>  </li>
      <% end %>
    </ul>
  </li>
  <li>Status na Receita Federal: <%= @basic_data["TaxIdStatus"] %></li>
  <% if @basic_data["TaxRegimes"]["Simples"] %>
    <li>Sujeita ao Simples Nacional</li>
  <% end %>
  <% if @basic_data["AdditionalOutputData"]["Capital"] %>
    <li>Capital Social: <%= @basic_data["AdditionalOutputData"]["Capital"] %></li>
  <% end %>
</ul>

<h3>Indicadores de Atividade</h3>
<ul>
  <li>Status: <%= @activity_indicators["HasActivity"] ? "ativa" : "inativa" %></li>
  <li>Faturamento estimado: <%= @activity_indicators["IncomeRange"] %></li>
  <li>Quantidade de empregados estimado: <%= @activity_indicators["EmployeesRange"] %> </li>
  <li>Número de filiais: <%= @activity_indicators["NumberOfBranches"] %></li>
</ul>

<h3>Endereços encontrados</h3>
<ul>
  <% @addresses.each do |address| %>
    <li> Endereço <%= address["IsMain"] ? "principal" : "alternativo" %> :
      <ul>
        <li>Logradouro: <%= "#{address["Typology"]} #{address["AddressMain"]}" %></li>
        <li>Número: <%= address["Number"] %> </li>
        <li>Complemento: <%= address["Complement"] %></li>
        <li>Bairro: <%= address["Neighborhood"] %> </li>
        <li>Cidade: <%= address["City"] %> </li>
        <li>Estado: <%= address["State"] %> </li>
        <li>Pais: <%= address["Country"] %> </li>
        <li>CEP: <%= address["ZipCode"] %> </li>
        <li>Status: <%= address["IsActive"] ? "ativo" : "inativo" %></li>
      </ul>
    </li>
  <% end %>
</ul>

<h3>Ações Judiciais</h3>
<% unless @processes_defendant.empty? %>
  <strong>Contra a empresa</strong>
  <ul>
    <% @processes_defendant.each do |process| %>
      <li>Assunto: <%= process["MainSubject"] %>
        <ul>
          <li>Número: <%= process["Number"] %></li>
          <% if process["Value"] > 0  %>
            <li>Valor: <%= process["Value"] %></li>
          <% end %>
          <li>Vara: <%= process["CourtType"] %></li>
          <li>Instância: <%= process["CourtLevel"] %></li>
          <li>Tribunal: <%= process["CourtName"].upcase %></li>
          <li>Estado: <%= process["State"] %></li>
          <li>Data de publicação: <%= process["PublicationDate"].to_date %></li>
          <li>Data da ultima atualização: <%= process["LastUpdate"].to_date %></li>
          <li>Partes:
            <ul>
              <% process["Parties"].each do |partie| %>
                <li> <%= partie["Type"] %>
                  <ul>
                    <% unless partie["Doc"].empty? %>
                      <li>Documento: <%= partie["Doc"] %></li>
                    <% end %>
                    <li>Nome: <%= partie["Name"] %></li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @processes_suitor.empty? %>
  <strong>Abertos pela empresa</strong>
  <ul>
    <% @processes_suitor.each do |process| %>
      <li>Assunto: <%= process["MainSubject"] %>
        <ul>
          <li>Número: <%= process["Number"] %></li>
          <% if process["Value"] > 0  %>
            <li>Valor: <%= process["Value"] %></li>
          <% end %>
          <li>Vara: <%= process["CourtType"] %></li>
          <li>Instância: <%= process["CourtLevel"] %></li>
          <li>Tribunal: <%= process["CourtName"].upcase %></li>
          <li>Estado: <%= process["State"] %></li>
          <li>Data de publicação: <%= process["PublicationDate"].to_date %></li>
          <li>Data da ultima atualização: <%= process["LastUpdate"].to_date %></li>
          <li>Partes:
            <ul>
              <% process["Parties"].each do |partie| %>
                <li> <%= partie["Type"] %>
                  <ul>
                    <% unless partie["Doc"].empty? %>
                      <li>Documento: <%= partie["Doc"] %></li>
                    <% end %>
                    <li>Nome: <%= partie["Name"] %></li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Sócios e participações</h3>
<ul>
  <% @relationships.each do |relationship| %>
    <li><%= relationship["RelationshipName"] %>
      <ul>
        <li>Nome: <%= relationship["RelatedEntityName"] %></li>
        <li><%= "#{relationship["RelatedEntityTaxIdType"]}: #{relationship["RelatedEntityTaxIdNumber"]}" %></li>
        <li>Pais de origem do documento: <%= relationship["RelatedEntityTaxIdCountry"] %></li>
      </ul>
    </li>
  <% end %>
</ul>

<% unless @domains.empty? %>
  <h3>Sites</h3>
  <ul>
  <% @domains.each do |domain| %>
    <li><%= domain["FinalDomainName"] %></li>
  <% end %>
  </ul>
<% end %>

<h3>Emails relacionados encontrados</h3>
<ul>
  <% @emails.each do |email| %>
    <li>Email <%= email["IsMain"] ? "principal" : "alternativo" %>:
      <ul>
        <li><%= email["EmailAddress"] %></li>
        <li>Tipo: <%= email["Type"] %></li>
        <li>Status: <%= email["IsActive"] ? "Ativo" : "Inativo" %></li>
      </ul>
    </li>
  <% end %>
</ul>

<h3>Telefones relacionados encontrados</h3>
<ul>
  <% @phones.each do |phone| %>
    <li>Telefone <%= phone["IsMain"] ? "principal" : "alternativo" %>:
      <ul>
        <li>+<%= phone["CountryCode"] %> <%= phone["AreaCode"] %> <%= phone["Number"] %></li>
        <li>Tipo: <%= phone["Type"] %></li>
        <li>Status: <%= phone["IsActive"] ? "Ativo" : "Inativo" %></li>
      </ul>
    </li>
  <% end %>
</ul>


